* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "primary font";
  src: url(fa-solid-900.woff2);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  height: 20vh;
  /* position: fixed; */
}

.header-logo {
  width: 120px;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
  color: rgb(29, 25, 25);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: red;
}

.visit-store {
  padding: 14px 24px;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  color: rgb(40, 34, 34);
  transition: all 0.2s ease-in-out;
}

.visit-store:hover {
  background-color: linear-gradient(160deg, #6c1eb2 #d14fa0);
  color: red;
}

.knowledge-base-link i {
  transition: rotate 0.2s ease-in-out;
}

.knowledge-base-link:hover i {
  rotate: 180deg;
}

.knowledge-base-link {
  position: relative;
}

.knowledge-base-link:hover .knowledge-base-container {
  display: block;
}

.knowledge-base-container {
  padding: 10px;
  display: flex;
  position: absolute;
  height: 11vh;
  width: 170px;
  border: 8px;
  display: none;
  top: 18px;
  border: 3px solid rgb(213, 236, 255);
  background-color: rgb(244, 250, 255);
  border-radius: 5px;
  gap: 2vh;
}

.video-contianer {
  position: relative;
  height: 100vh;
}

/* video{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -9999;
} */

.video-container {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1; /* enough to go behind text */
}

main {
  height: 80vh;
  padding: 0 6vw;
  box-shadow: inset 0px -120px 60px -20px white;
}

main h1 {
  padding-top: 100px;
  font-size: 55px;
  width: 350px;
  color: rgb(50, 36, 36);
}

main p {
  padding-top: 10px;
  width: 350px;
  opacity: 0.7;
}

/* section {
  height: 100vh;
} */

.search-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: fit-content;
}
.search-container div {
  background-color: #030930;
  padding: 16px;
  border-radius: 50px;
  color: white;
}
.search-container input {
  background-color: #030930;
  border: none;
  outline: none;
  color: white;
}

.search-container input ::placeholder {
  font-weight: bold;
  color: white;
}

/* cataotry section */

.category-section {
  text-align: center;
  height: 80vh;
  margin: 40px 0;
  /* z-index: 1;
  position: relative; */
}

.category-section h2 {
  font-size: 40px;
  color: #030930;
  padding-bottom: 20px;
}

.category-section p {
  color: #12121281;
}

.categories-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.category-card {
  width: 23%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  box-shadow: inset 0px -120px 60px -20px white;
}

.category-card p {
  font-size: 28px;
  color: #030930;
  font-weight: bold;
  padding-bottom: 10px;
}

.category-card a {
  color: white;
  background-color: #030930;
  padding: 12px 30px;
  border-radius: 8px;
  width: max-content;
}

.category-card video {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.project-container {
  overflow: hidden;
}

.animation-container {
  display: flex;
  gap: 20px;
  margin: 40px 0;
  animation: animation-1 25s linear infinite;
}

@keyframes animation-1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.child {
  display: flex;
  height: 140px;
  width: 300px;
  border: 3px solid rgb(213, 236, 255);
  background-color: rgb(244, 250, 255);
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
  gap: 5px;
}

.project-container h1 {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.child img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.what-is-aicm {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 8vw;
  flex-direction: column;
  margin-top: 20vh;
  gap: 3vh;
}

.what-is-aicm video {
  height: 30%;
  border-radius: 30%;
  overflow: hidden;
  border: 3px solid rgb(213, 236, 255);
  background-color: rgb(244, 250, 255);
  padding: 10px;
  width: max-content;
}

.what-is-aicm h1 {
  font-size: 10vh;
}

.what-is-aicm p {
  font-size: 3vh;
  width: 70vh;
}

.what-is-aicm a {
  border: 3px solid rgb(213, 236, 255);
  background-color: rgb(244, 250, 255);
  border-radius: 15vh;
  padding: 5vh;
}
