* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "primary font";
  src: url(fa-solid-900.woff2);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  height: 20vh;
  /* position: fixed; */
}

.header-logo {
  width: 120px;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
    color: rgb(29, 25, 25);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: red
}

.visit-store {
  padding: 14px 24px;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  color: rgb(40, 34, 34);
  transition: all 0.2s ease-in-out;
}

.visit-store:hover {
  background-color: linear-gradient(160deg, #6c1eb2 #d14fa0);
  color: red;
}

.knowledge-base-link i {
  transition: rotate 0.2s ease-in-out;
}

.knowledge-base-link:hover i {
  rotate: 180deg;
  
}

.knowledge-base-link {
  position: relative;
}

.knowledge-base-link:hover .knowledge-base-container {
  display: block;
}

.knowledge-base-container {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 2px solid blue;
  border: 8px;
  background-color: greenyellow;
  display: none;
  top: 18px;
}

.video-contianer{
  position: relative;
  height: 100vh;
}

video{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -9999;
}

main {
  height: 76vh;
  padding: 0 6vw;
  box-shadow: inset 0px -120px 60px -20px white;
}

main h1 {
  padding-top: 100px;
  font-size: 40px;
  width: 300px;
  color: rgb(50, 36, 36);
}

main p {
  padding-top: 10px;
  opacity: 0.7;
}

section {
  height: 100vh;
  background-color: antiquewhite;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container div {
  background-color: #030930;
  padding: 16px;
  border-radius: 50px;
  color: white;
}
.search-container input {
  background-color: #030930;
  border: none;
  outline: none;
  color: white;
}

.search-container input ::placeholder {
  font-weight: bold;
  color: white;
}